* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, '微軟正黑體';
}

body {
    background-color: #eeeee0;
}

.header {
    background-color: #FFFAB3;
}

.header .search a {
    color: #58641D;
    font-size: 2.5em;
    margin-left: 10px;
}

.header .search .right {
    float: right;
}

.nav ul li {
    margin-left: 1em;
}

.nav ul li a:hover {
    transition: 0.5s;
}

.header .searchbar {
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav {
    background-color: #7b904b;
}

.nav li a {
    color: #FFFAB3;
    font-size: 1.2em;
}

.nav li a:hover {
    font-weight: bolder;
}

.parrotImg {
    position: absolute;
    right: 0;
    bottom: 5px;
    display: flex;
    align-items: flex-end;
}

.parrotImg img {
    margin-right: 5px;
    bottom: 0;
}

.logo {
    width: 200px;
    border-radius: 30px;
}

.logo:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.carousel h5,
.carousel p {
    color: #FFFAB3;
    font-weight: bolder;
    text-shadow: 0 0 5px #002400,
        0 0 2px #fff;
}

.item {
    padding: 3em 0;
    color: #002400;
}

.item h2 {
    color: #002400;
    font-weight: bolder;
    text-shadow: 0 0 5px #7b904b;
    padding-bottom: 0.5em;
}

.content .card {
    box-shadow: 2px 2px 5px #7B904B;
}

.img-container {
    overflow: hidden;
}

.card img:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.btn-parrot {
    --bs-btn-color: #fffab3;
    --bs-btn-bg: #7B904B;
    --bs-btn-border-color: #7B904B;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #273B09;
    --bs-btn-hover-border-color: #273B09;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fffab3;
    --bs-btn-active-bg: #273B09;
    --bs-btn-active-border-color: #273B09;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fffab3;
    --bs-btn-disabled-bg: #7B904B;
    --bs-btn-disabled-border-color: #7B904B;
}

.btn-parrot2 {
    --bs-btn-color: #273B09;
    --bs-btn-bg: #fffab3;
    --bs-btn-border-color: #fffab3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #273B09;
    --bs-btn-hover-border-color: #273B09;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #7b9047;
    --bs-btn-active-bg: #273B09;
    --bs-btn-active-border-color: #273B09;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #7b9047;
    --bs-btn-disabled-bg: #fffab3;
    --bs-btn-disabled-border-color: #fffab3;
}

.video {
    padding: 3em 0;
    background-color: #7B904B;
}

.video h2 {
    color: #fffab3;
    font-weight: bolder;
    text-shadow: 0 0 5px #fff;
    padding-bottom: 0.5em;
}

.if iframe {
    border-radius: 20px;
}

.footer {
    margin-top: 20px;
    padding-top: 10px;
    background-color: #273B09;
}

.about {
    color: #FFFAB3;
}

.about h3 {
    margin-bottom: 1em;
    text-shadow: 0px 0px 5px #fff;
}

.about p a {
    color: #FFFAB3;
    text-decoration: none;
}

.about p a:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #FFF;
    transition: 0.5s all ease 0s;
}

.copy {
    color: #FFFAB3;
    padding-top: 5em;
    padding-bottom: 10px;
}

.sidebar {
    height: 100%;
    border-right: 1px solid #7B904B;
}

.sidebar a {
    color: #7b904b;
}

.sidebar a:hover {
    font-weight: bolder;
}

.sidebar .accordion {
    --bs-accordion-color: #273B09;
    --bs-accordion-bg: #fff;
    --bs-accordion-btn-color: #273B09;
    --bs-accordion-btn-focus-border-color: #7b904b;
    --bs-accordion-active-color: #273B09;
    --bs-accordion-active-bg: #FFFAB3;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(94, 168, 116, 0.25);
}

.content .pagination {
    --bs-pagination-color: #273B09:
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-hover-color: #273B09;
    --bs-pagination-focus-color: #273B09;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(94, 168, 116, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #58641d;
    --bs-pagination-active-border-color: #58641d;
}

.item-title {
    height: 2.5rem;
}

.item-text {
    height: 3rem;
    overflow: hidden;
}

.item .card .info {
    height: 3rem;
    overflow: hidden;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 5px #7B904B;
    font-weight: bolder;
    background-color: #fff;
}

.breadcrumb a {
    color:#58641d;
}

.nav .dropdown-menu {
    background-color: #7B904B;
}

.card .row.mt-2 .col-md-4 a>img:hover {
    transform: none;
    border: #7b9047 1px solid;
}

#showGoods {
    transform: none;
}

.color_price {
    color: #7b904b;
}

.color_count {
    color: #fff;
    background-color: #7b9047;
    border-color: #7b9047;
    font-size: 1.5em;
}

.btn-parrot3 {
    --bs-btn-color: #fffab3;
    --bs-btn-bg: #7B904B;
    --bs-btn-border-color: #7B904B;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #273B09;
    --bs-btn-hover-border-color: #273B09;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fffab3;
    --bs-btn-active-bg: #273B09;
    --bs-btn-active-border-color: #273B09;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fffab3;
    --bs-btn-disabled-bg: #7B904B;
    --bs-btn-disabled-border-color: #7B904B;
}

.badge.text-bg-danger {
    font-size: 30%;
    color: #fff !important;
    border-radius: 50%;
    position: relative;
    left: -20px;
    top: -23px;
}

.card .p_content, .color_58641d {
    font-weight: bold;
    color: #58641d;
}

.table-responsive-md table td {
    text-align: center;
    vertical-align: middle;
}

.table-responsive-md table tfoot td {
    text-align: center;
}

.table-responsive-md table tr:hover {
    background-color: rgba(202, 245, 152, 0.3);
}


/* 輸入有錯誤時，顯示紅框 */
table input:invalid {
    border: solid red 3px;
}

.table-parrot {
    --bs-table-color: #fffab3;
    --bs-table-bg: #7b9047;
    --bs-table-border-color: #273b09;
    --bs-table-striped-bg: #7b9047;
    --bs-table-striped-color: #fffab3;
    --bs-table-active-bg: #7b9047;
    --bs-table-active-color: #fffab3;
    --bs-table-hover-bg: #7b9047;
    --bs-table-hover-color: #fffab3;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }